{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://db.onlinewebfonts.com/c/6c24622222a278147bc3107d76bbdfbd?family=Myriad" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans" rel="stylesheet">
  <link href="{% static 'CSS/style.css' %}" rel="stylesheet"/>
  <script src="{% static 'JavaScript/main.js' %}" defer></script>
  <title>iChoons - an iTunes API search web application</title>
</head>
<body>
  <div class="the-everything">
    <header>
      <h1>iChoons.</h1>
    </header>

    <div class="container">
      <div class="img-container"></div>
      <div class="player-container">
        <div class="player-info"></div>
        <figure>
          <audio id="audio-player-container" controls></audio>
        </figure>
        <section id="name-title"></section>
        <form id="search-submit">
          <input id="search-bar" placeholder="eg: Cap'n Geech and the Shrimp Shack Shooters" autofocus>
          <button id="submit-search">SEARCH</button>
        </form>
      </div>
    </div>
    <div>
      <h2>SEARCH RESULTS:</h2>
    </div>
    <section id="search-scroll">
      <ul id="results"></ul>
    </section>
  </div>
</body>
</html>
